<div class="logs-container">
    <div class="move-container">
        @for (entry of allTimerecords; track $index) {

        <div class="logs">

            <div class="logs-date">
                <span>{{ entry.day }} {{entry.date | date:'dd.MM.yyyy' }} </span>
                <button (click)="edit(entry)" class="edit-btn">
                    <mat-icon>edit</mat-icon>
                </button>

            </div>
            <div class="logs-hours">
                <div class="logs-hours-worked">
                    <span class="bold">{{ entry.timeWorked }}</span>
                    <span>{{ entry.startTime }} - {{ entry.endTime }} </span>
                </div>

                <span>Break: {{ entry.breakMinutes }} Minuten</span>

            </div>


        </div>

        }
    </div>

</div>