@import "./../../mixins.scss";
@import "./../../styles";


mat-toolbar {
    height: 80px;
}

.menu-container {
    @include display-flex($jc: space-between);
    @include size($width: 100%);
    padding: 0 32px;
}

.menu {
    @include display-flex($gap: 32px);
    @include size($width: 100%);
    padding: 16px 0;
}