<mat-toolbar color="primary">
  <div class="toolbar-container">
    <span class="title">Time Tracker</span>

    <div class="menu">
      <button mat-button routerLink="/time-tracking">
        <mat-icon>access_time</mat-icon> Zeiterfassung
      </button>
      <button mat-button routerLink="/time-overview">
        <mat-icon>trending_up</mat-icon> Zeitübersicht
      </button>
    </div>

    <img src="../../assets/img/logout.png" (click)="signOut()" alt="Logout" class="logout-mobile">
    <span (click)="signOut()" class="logout-desktop">Logout</span>
  </div>
</mat-toolbar>
