<div class="content">
    <div class="overview-container">
        <!-- Monatsnavigation -->
        <div class="overview-header">
            <div>
                <div class="cumulative-balance-container">
                    <h2>Gesamtsaldo</h2>
                    <div class="balance"
                        [ngClass]="{'positive': cumulativeDifferenceMinutes >= 0, 'negative': cumulativeDifferenceMinutes < 0}">
                        {{ getCumulativeDifferenceString() }}
                    </div>
                </div>

                <div class="month-navigation">
                    <button mat-icon-button (click)="previousMonth()" [disabled]="!hasPreviousMonth">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    <span class="month-heading">{{ currentMonth | date:'MMMM yyyy' }}</span>
                    <button mat-icon-button (click)="nextMonth()" [disabled]="!hasNextMonth">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
            </div>
            <div>
                <h2>{{user?.firstName}} {{user?.lastName}}</h2>
                role: {{user?.role}}
            </div>
        </div>


        <div class="weekly-container mb-8">
            <h2 class="text-xl font-bold mb-4">Monatliche Zeitübersicht (Arbeitstage: {{calculateTotalWorkdays()}})</h2>
            <table mat-table [dataSource]="weeklyDataSource" matSort matSortActive="weekRange" matSortDirection="asc"
                #weeklySort="matSort" class="mat-elevation-z8 w-full">

                <!-- Wochenbereich -->
                <ng-container matColumnDef="weekRange">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Kalenderwoche {{currentMonth |
                        date:'MM/yyyy'}}</th>
                    <td mat-cell *matCellDef="let week">
                        KW {{week.weekNumber}}: {{week.weekStart}} - {{week.weekEnd}}
                        <span class="workday-info">({{week.workdaysInMonth}} Arbeitstage)</span>
                    </td>
                    <td mat-footer-cell *matFooterCellDef>Monats-Gesamt ({{calculateTotalWorkdays()}} Arbeitstage)</td>
                </ng-container>

                <!-- Ist-Zeit -->
                <ng-container matColumnDef="actualHours">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ist-Zeit</th>
                    <td mat-cell *matCellDef="let week">{{week.actualHours}}</td>
                    <td mat-footer-cell *matFooterCellDef>{{calculateTotalActualHours()}}</td>
                </ng-container>

                <!-- Soll-Zeit -->
                <ng-container matColumnDef="targetHours">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Soll-Zeit</th>
                    <td mat-cell *matCellDef="let week">{{week.targetHours}}</td>
                    <td mat-footer-cell *matFooterCellDef>{{calculateTotalTargetHours()}}</td>
                </ng-container>

                <!-- Differenz -->
                <ng-container matColumnDef="difference">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Differenz</th>
                    <td mat-cell *matCellDef="let week"
                        [ngClass]="{'positive': week.differenceMinutes >= 0, 'negative': week.differenceMinutes < 0}">
                        {{week.difference}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef
                        [ngClass]="{'positive': calculateTotalDifferenceMinutes() >= 0, 'negative': calculateTotalDifferenceMinutes() < 0}">
                        {{calculateTotalDifference()}}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="weeklyDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: weeklyDisplayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="weeklyDisplayedColumns"></tr>
            </table>
        </div>
        <!-- Wöchentliche Übersicht -->

        <h2 class="text-xl font-bold mb-4">Detailed Time Entries</h2>


        <div class="table-container">
            <table mat-table [dataSource]="dataSource" matSort #detailSort="matSort" matSortActive="date"
                matSortDirection="desc" (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">

                <!-- Date Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                    <td mat-cell *matCellDef="let element">{{element.date | date:'dd.MM.yyyy'}}</td>
                    <td mat-footer-cell *matFooterCellDef>Total</td>
                </ng-container>

                <!-- Day Column -->
                <ng-container matColumnDef="day">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Day</th>
                    <td mat-cell *matCellDef="let element">{{element.date | date:'EEEE'}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- Time Column -->
                <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
                    <td mat-cell *matCellDef="let element">{{element.startTime}} - {{element.endTime}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- Duration Column -->
                <ng-container matColumnDef="duration">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration</th>
                    <td mat-cell *matCellDef="let element">{{element.timeWorked}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- Break Column -->
                <ng-container matColumnDef="break">
                    <th class="hide-on-medium-screen" mat-header-cell *matHeaderCellDef mat-sort-header>Break</th>
                    <td class="hide-on-medium-screen" mat-cell *matCellDef="let element">{{element.breakMinutes}}
                        minutes</td>
                    <td class="hide-on-medium-screen" mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- By Column -->
                <ng-container matColumnDef="by">
                    <th class="hide-on-small-screen" mat-header-cell *matHeaderCellDef mat-sort-header>By</th>
                    <td class="hide-on-small-screen" mat-cell *matCellDef="let element">{{element.createdBy}}</td>
                    <td class="hide-on-small-screen" mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- At Column -->
                <ng-container matColumnDef="at">
                    <td class="hide-on-small-screen" mat-cell *matCellDef="let element">{{element.createdAt |
                        date:'dd.MM.yyyy HH:mm'}}</td>
                    <th class="hide-on-small-screen" mat-header-cell *matHeaderCellDef mat-sort-header>At</th>
                    <td class="hide-on-small-screen" mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- Edit Column -->
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>

                    <td mat-cell *matCellDef="let element">
                        <button (click)="edit(element)" class="edit-btn">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button (click)="delete(element)" class="edit-btn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
        </div>







    </div>