<div class="content">
    <div class="overview-container">

        @if (user?.role === 'admin') {
            <mat-form-field appearance="outline">
                <mat-label>Benutzer auswählen</mat-label>
                <mat-select [(value)]="selectedUserId" (selectionChange)="onUserSelected()">
                    <mat-option *ngFor="let user of allUsers" [value]="user.id">
                        {{ user.firstName }} {{ user.lastName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        }
 
        @if(dataReady() && selectedUser) {
            <app-monthly-stats [user]="selectedUser" [records]="allTimerecords">
            </app-monthly-stats>
    
            <app-daily-logs [user]="selectedUser"  [records]="allTimerecords"></app-daily-logs>
        } @else {
            <p class="loading-screen">Lade...</p>
        }

       


    </div>