@import "./../../mixins.scss";
@import "./../../styles";

.content {
    @include display-flex($fd:column, $gap: 16px);
    padding: 20px;
}

.overview-container {
    @include display-flex($fd: column, $ai: flex-start);
}   

.weekly-container,
.detail-container {
    margin-bottom: 30px;
}

.table-container {
    min-width: 100%;
}

table {
    width: 100%;
}

.mat-mdc-row:nth-child(even) {
    background-color: #f5f5f5;
}

.mat-mdc-row:hover {
    background-color: #eeeeee;
}

.mat-mdc-header-cell {
    // font-weight: bold;
    // color: #333;
}

.mat-mdc-cell {
    padding: 8px 16px;
}

// Styling für die Wochentabelle
.weekly-container,
.detail-container {
    .mat-mdc-row {
        // cursor: pointer;

        &:hover {
            background-color: #e3f2fd;
        }
    }
}

.edit-btn {
    @include size($width: 20px, $height: 20px);
    @include display-flex($ai: center, $jc: center);
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    border-radius: 4px;
    background: transparent;
  
    &:hover {
      background-color: hsla(206, 100%, 73%, 0.432);
      cursor: pointer;
    }
  }

  .edit-btn mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    line-height: 16px;
  }