<!-- <div class="content"> -->
    <div class="content">
        <div class="time-tracker">

            <mat-form-field appearance="fill" subscriptSizing="dynamic">
                <mat-label>Wähle ein Datum</mat-label>
              
                <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate"
                (dateChange)="onDateChange()">
                
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

         
            <div class="weekday-container">
                <div class="day-box">
                    <div class="day">
                        <h3>{{ record.day }}</h3>
                        <h3>{{ selectedDate | date:'dd.MM.yyyy'}}</h3>
                    </div>
                </div>

                <div class="time-row">
                    <mat-form-field appearance="fill" subscriptSizing="dynamic">
                        <mat-label>Startzeit</mat-label>
                        <input matInput type="time" [(ngModel)]="record.startTime"
                            (change)="setCalculationToFalse()" required>
                    </mat-form-field>
                    <button [matMenuTriggerFor]="startMenu" class="quick-select-btn">
                        <mat-icon>arrow_drop_down</mat-icon>
                    </button>
                    <mat-menu #startMenu="matMenu">
                        <button mat-menu-item *ngFor="let time of dataStoreService.startQuickTimes"
                            (click)="setStartTime(time)">
                            {{ time }}
                        </button>
                    </mat-menu>
                </div>

                <div class="time-row">
                    <mat-form-field appearance="fill" subscriptSizing="dynamic">
                        <mat-label>Endzeit</mat-label>
                        <input matInput type="time" [(ngModel)]="record.endTime"
                            (change)="setCalculationToFalse()" required>
                    </mat-form-field>
                    <button [matMenuTriggerFor]="endMenu" class="quick-select-btn">
                        <mat-icon>arrow_drop_down</mat-icon>
                    </button>
                    <mat-menu #endMenu="matMenu">
                        <button mat-menu-item *ngFor="let time of dataStoreService.endQuickTimes"
                            (click)="setEndTime(time)">
                            {{ time }}
                        </button>
                    </mat-menu>
                </div>
                Pause
                <div class="time-row">
                    <mat-form-field appearance="fill" subscriptSizing="dynamic">
                        <mat-label>Dauer in Minuten</mat-label>
                        <input matInput type="number" [(ngModel)]="record.breakMinutes"
                            (change)="setCalculationToFalse()" required>
                    </mat-form-field>
                    <button [matMenuTriggerFor]="break" class="quick-select-btn">
                        <mat-icon>arrow_drop_down</mat-icon>
                    </button>
                    <mat-menu #break="matMenu">
                        <button mat-menu-item *ngFor="let minutes of dataStoreService.breakDurations"
                            (click)="setBreak(minutes)">
                            {{ minutes }}
                        </button>
                    </mat-menu>
                </div>
                <button mat-raised-button color="primary" (click)="calculateTime()"
                    [disabled]="!record.startTime || !record.endTime || record.startTime > record.endTime">
                    <!-- <mat-icon>calculate</mat-icon> -->
                    Arbeitszeit berechnen
                </button>
            </div>

            @if (calculationFinished && record.timeWorked) {
            <div class="result">
                <div class="time-diff-container">
                    <span class="time-diff">
                        {{ record.timeWorked }}
                    </span>
                    <span class="comparing-diff">
                        @if(record.breakMinutes > 0) {
                        ({{ record.timeWithoutBreak }} ohne Pause)
                        }
                    </span>

                </div>
            </div>

            <div class="submit-container">
                <button mat-raised-button color="primary" (click)="safeDay()"
                    [disabled]="!record.startTime || !record.endTime">
                    <!-- <mat-icon>calculate</mat-icon> -->
                    Speichern
                </button>
            </div>
            }
           

           
        </div>
        
        <app-last-records></app-last-records>

    </div>
<!-- </div> -->

<section class="toast" [class.is-visible]="isVisible">
    <span>
        Zeiten erfolgreich gespeichert
    </span>
</section>