.wrapper {
    padding-top: 64px; //do not delete! important for header
}




@media (max-width: 768px) {
    // .wrapper {
    //   @include display-flex($fd: column, $jc: flex-start);
    // }
  
    .wrapper {
      height: fit-content;
    }
  }
  
  @media (max-width: 600px) {
    // .wrapper {
    //   @include display-flex($fd: column, $jc: flex-start);
    // }
  
    .wrapper {
      padding: 32px;
    }
  
    // .weekday-container {
    //   @include display-flex($fd: column, $ai: flex-start, $gap: 16px);
    //   @include size($height: 100%);
    // }
  
    // .day-box {
    //   margin-right: 0px;
    // }
  }