@import "./../../mixins.scss";
@import "./../../styles";

.toast {
  @include position(fixed, 85%, 50%, $zi: 4);
  @include font-style($font-size-20, $font-weight-500, white);
  transform: translate(5000%, -50%);
  padding: 32px;
  border-radius: 4px;
  background: $primary-color-blue;
  box-shadow: $primary-box-shadow;
  max-width: 80%;
  transition: 225ms ease-in-out;
  text-align: center;
}

.toast.is-visible {
  transform: translate(-50%, -50%);
  opacity: 1;
}