<div class="wrapper">
    <section>
        <div class="img-container">
            <img (click)="goBack()" src="/img/arrow_back.png" alt="">
        </div>
        <div class='impressum'>
            <h1>Impressum</h1>
            <p>Angaben gemäß § 5 DDG</p>
            <p>Lina Wionsek <br> Waldhausener Straße 117<br> 41061 Mönchengladbach <br> </p>
            <p> <strong>Vertreten durch: </strong><br> Lina Wionsek<br> </p>
            <p><strong>Kontakt:</strong> <br> Telefon: +4917685620879<br> E-Mail: <a
                    href='mailto:hallo@lina-wionsek.de'>hallo&#64;lina-wionsek.de</a></p>
            <p><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong><br> Lina Wionsek <br> Waldhausener
                Straße 117<br> 41061 Mönchengladbach <br></p> <br> Website Impressum erstellt durch <a
                href='https://www.impressum-generator.de'>impressum-generator.de</a> von der <a
                href='https://www.kanzlei-hasselbach.de/' rel='nofollow'>Kanzlei Hasselbach</a>
        </div>
    </section>
</div>