@import "./../../mixins.scss";
@import "./../../styles";

mat-form-field {
    width: 300px !important;
}

.auth-wrapper {
    @include display-flex($fd: column, $jc: space-evenly, $ai: center);
    height: calc(100vh - 228px);
    padding: 64px;
}

.auth {
    @include display-flex($fd: column, $jc: flex-start);
    // height: calc(100vh - 164px);

}

.auth-header {
    @include display-flex();

    span {
        color: $primary-color-blue;
        font-size: 32px;
        font-weight: bold;
    }
}

.divider-container {
    text-align: center;
    position: relative;
    display: inline-block;
}

.divider-container::after {
    content: "";
    display: block;
    margin: 0.5rem auto 0;
    /* Adds space between text and line */
    height: 2px;
    /* Thickness of the line */
    background-color: black;
    /* Line color */
    width: 100%;
    /* Ensures the line matches the text width */
}

.invalid-input {
    @include font-style($font-size-14, $font-weight-400, red);
    @include size(100%);
    opacity: 0;
    transition: 225ms ease-in-out;
}

.is-invalid {
    opacity: 1;
}





.content {
    @include display-flex($jc: space-between, $fd: column);
    height: 100%;
}

.auth-inputs {
    @include display-flex($fd: column, $gap: 16px);
}

.auth-input-container {
    @include display-flex($fd: column, $gap: 4px);
    @include size(100%);

}

.primary-input {
    @include input-style();
}

.secondary-input {
    @include input-style(15px 20px);
}

.auth-form,
.auth-verification {
    @include display-flex($fd: column, $gap: 24px);
    max-width: 620px;
    padding: 64px;
    border-radius: 30px;
    box-shadow: $primary-box-shadow;
    background: $primary-color-white;
}

.auth-email {
    @include font-style($font-size-18, $font-weight-700, $primary-color-purple);
}

.form-header {
    @include display-flex($fd: column, $gap: 16px);
    @include size(100%);
    text-align: center;

    >.header-title {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        align-self: center;
        @include size(100%);

        >.icon-container {
            justify-self: start;
            background: $bg-color-gray;
        }

        >h3 {
            justify-self: center;
            grid-column: span 1;
            @include font-style($font-size-46,
                $font-weight-700,
                $primary-color-purple );
        }

        &:not(:has(.icon-container)) {
            grid-template-columns: 1fr;
        }
    }

    >span {
        @include font-style($font-size-20, $font-weight-400, black);
        text-align: center;
    }
}