/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    // background-color: #f1f4fe;
    background-color: #ffffff;
}

$primary-color-blue: #3f51b5;
$primary-box-shadow: 0px 6px 10px 0px #00000033;


$minimal-box-shadow:  0px 3px 5px rgba(0, 0, 0, 0.04);

$primary-color-white: #ffffff;
$primary-color-purple: #444df2;
$secondary-color-purple: #797ef3;
$highlight-color-purple: #535af1;
$highlight-color-cyan: #1381ff;
$online-color-green: #92c83e;
$error-color-red: #ed1e79;
$border-color-purple: #adb0d9;
$text-color-black: #000000;
$text-color-gray: #686868;
$bg-color-gray: #eceefe;
$bg-color-blue: #313ae5;



$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-32: 32px;
$font-size-40: 40px;
$font-size-46: 46px;
$font-size-64: 64px;
$font-size-72: 72px;
$font-size-128: 128px;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$desktop-full-hd: 1920px;
$desktop-large: 1200px;
$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;


.mat-mdc-row:nth-child(even) {
    background-color: #f5f5f5;
}

.mat-mdc-row:hover {
    background-color: #eeeeee;
}

.mat-mdc-cell {
    padding: 8px 16px;
}



.mat-mdc-table {
    border-radius: 12px;
    overflow: hidden;
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #374151;
    border: 1px solid #e5e7eb; //org
    box-shadow: $minimal-box-shadow
}



.mat-mdc-header-row {
    // background-color: #EAF0F7; //org
    background-color: #e3f2fd;
    font-weight: 500;
    color: #404B59;
}

.mat-mdc-cell,
.mat-mdc-header-cell,
.mat-mdc-footer-cell {
    padding: 16px 20px;

}

// Nur für Header + normale Zeilen: border-bottom
.mat-mdc-header-cell,
.mat-mdc-cell {
    border-bottom: 1px solid #e5e7eb;
}

// Alternierende Zeilenfarbe (Zebra)
.mat-mdc-row:nth-child(even) {
    background-color: #f9fafb;
}

.mat-mdc-row:hover {

    // background-color: #EAF0F7; //org
    background-color: #daedfc; //modified
    transition: background-color 0.2s ease;
}



// Footer-Row
.mat-mdc-footer-row {
    background-color: #f9fafb;
    font-weight: 500;
    color: #1f2937;
}




@media (max-width: 780px) {

    .mat-mdc-cell,
    .mat-mdc-header-cell,
    .mat-mdc-footer-cell {
        padding: 8px 12px !important;
    }

    .hide-on-medium-screen {
        display: none !important;
    }
}

@media (max-width: 650px) {

    .mat-mdc-cell,
    .mat-mdc-header-cell,
    .mat-mdc-footer-cell {
        padding: 4px 8px !important;

    }

    .hide-on-small-screen {
        display: none !important;
    }


}